body {
  background: #232538;
  margin: 0;
  padding: 0;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
}

model-viewer {
  width: 100%;
  height: 100%;
}

.grid-container{
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 0px;
}

.a {
  background: #232538;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; /* Footer height */

  /* styles for the looks */
  background: #000000;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position:absolute; 
  top:0; 
  left:0;

  color: #fff;
  font-weight: bold;
  font-size: 4ch;
  letter-spacing: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  margin: 1vh 1vw 1vw 1vh;
}